# Tutorial 1

# Basics of Python 
- Various data types in Python
- Variables
- Variable Assignment
- Print formatting

## Various DataTypes in Python

In [ ]:
"""In any programming language we need datatypes in order to store different types of data
Python has the following bulit-in datatypes
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview"""
#now lets see the examples for the above datatypes

In [6]:
1+1 #addition

2

In [7]:
4*5 #multiplication

20

In [8]:
10/2 #division

5.0

In [9]:
10%2 #percentage

0

In [10]:
10**2 #10 to the power of 2

100

In [1]:
'renu' * 10 #we can apply for strings also

'renurenurenurenurenurenurenurenurenurenu'

In [16]:
#Check the DataType

In [19]:
type("Renuka") #String typeit can be written in double or single quotes

str

In [20]:
type(10)

int

In [21]:
type(10.3)

float

In [4]:
type(2j*23)

complex

In [8]:
type(3i) #means we should use only j letter for complex number

SyntaxError: invalid syntax (<ipython-input-8-e2de1cf668da>, line 1)

In [14]:
type(j-1) #means there should be some number before j

NameError: name 'j' is not defined

In [26]:
type(["renu","Manu",1]) # List are mutable objects can be changed after it is created

list

In [33]:
type(("Renu","Manu",1,1.2))

tuple

In [32]:
range(5) # we can write only integers default start value is 0

range(0, 5)

In [34]:
type({"name" : "John", "age" : 36}) #dict consist of key:value pairs

dict

In [35]:
type({"apple", "banana", "cherry"}) #set consist of values

set

In [36]:
type(True)

bool

In [37]:
type(False)

bool

## Variable assignment

In [18]:
#Syntax
#var_name=values
x='ManuRenu'+'koppu'

In [16]:
x

'ManuRenukoppu'

In [41]:
type(x)

str

## Mathematical operations with variable assignment

In [20]:
a=10
b=20

In [21]:
print(a+b)
print(a*b)
print(a/b)
print(a-b)
print((a*b)+(a/b))  #BODMAS Rule

30
200
0.5
-10
200.5

In [45]:
## Variable ways of printing

print("hellow")

hellow

In [25]:
Firstname='koppu'
Lastname='Renuka'
print("My first name is {} and last name is {}".format(Firstname,Lastname)) #if we change the order of format then output will be wrong inorder to avoid that we use below code

My first name is koppu and last name is Renuka

In [49]:
print("My first name is {first} and last name is {last}".format(first=Firstname,last=Lastname))

My first name is koppu and last name is Renuka

In [26]:
len("Renuka")

6

In [29]:
len("Koppu+Renuka") #including spaces the count is given for len() function

12

In [28]:
len(1.3) #means we can find length only for strings(any thing written in single/double quotes)

TypeError: object of type 'float' has no len()