# Tutorial 2

## Python Data Structures and Boolean
- Boolean 
- Boolean and Logical operators
- List 
- Comparision operators
- Dictionaries
- Tuples
- Sets

In [ ]:
'''Boolean Variables
Boolean variblaes consist of 2 constant objects Ture and False'''

In [6]:
type(True)

bool

In [7]:
type(False)

bool

In [8]:
True

True

In [9]:
False # all the above are case sensitive

False

In [1]:
my_str='Koppu Renuka'
type(my_str)

str

In [15]:
my_str.capitalize() #makes 1st char in upper and rest to lower

'Koppu renuka'

In [17]:
my_str.endswith('A') #case sensitive

False

In [18]:
my_str.startswith('k') #case sensitive

False

In [26]:
my_str.isalpha()

False

## Boolean and Logical operators

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
False and True

False

In [30]:
False and False

False

In [31]:
False or True

True

In [32]:
#Example 
s1='Koppu Renuka'
s2='renu'

In [33]:
s1.isalpha() or s2.isalpha()  #here s1 is not alpha where as s2 is alpha

True

In [34]:
s1.isalpha() and s2.isalpha()

False

# List
A list is Data structure in Python that is mutable(changable), ordered sequence of ele each ele inside list is called and an item they are defined in []

In [2]:
type([])

list

In [6]:
lst=['koppu','renu',1,12,2019]
type(lst)

list

In [7]:
lst.append('marriage') #by default list will append at last

In [8]:
lst

['koppu', 'renu', 1, 12, 2019, 'marriage']

In [25]:
#nested list
lst.append(['happy','life'])

In [31]:
lst

['koppu', 'renu', 1, 12, 2019, 'marriage', ['happy', 'life']]

In [12]:
lst.count(1) #counts how many times value is there in list

1

In [14]:
len(lst) #length of list

6

In [15]:
#indexing for list starts from 0 
#indexing for single value
lst[1]

'renu'

In [22]:
#indexing to retrive multiple values
lst[1:6] #syntax is list[starting_poistion : lastvalue_position(this should be if last ele position is i the lastvalue_position is i+1)]

['renu', 1, 12, 2019, 'marriage']

# Insert

In [32]:
# insert in list at specific location

lst.insert(1,'Manu')

In [33]:
lst

['koppu', 'Manu', 'renu', 1, 12, 2019, 'marriage', ['happy', 'life']]

# Extend method

In [34]:
# in order to avoid nested list or multiple nested list
lst.extend([123,'USA'])

In [35]:
lst

['koppu',
 'Manu',
 'renu',
 1,
 12,
 2019,
 'marriage',
 ['happy', 'life'],
 123,
 'USA']

# Various operations that we can perform in list

In [39]:
list_example=[1,2,3,4,5,6]

In [40]:
sum(list_example)

21

In [47]:
list_example * 2 #list will be printed for 2 times

[2, 3, 4, 5, 2, 3, 4, 5]

In [41]:
list_example.pop() #by default it will remove last value in list

6

In [43]:
list_example.pop(0) #remove specific value

1

In [44]:
#index() returns the index of first occurance... start and end parameters are not required
list_example.index(3,0,6) # here 3 value is occured 1 time from 0 to 6 position

1

In [45]:
min(list_example)

2

In [46]:
max(list_example)

5

# Sets

A set is an unordered collection data type that is iterable. Set doesnot consist of duplicate values

In [54]:
set_var=set()
set_var
print(type(set_var))

<class 'set'>

In [55]:
set_var={1,3,2,4,2,4,5,5,6} # SET can not have duplicate values like LIST
set_var

{1, 2, 3, 4, 5, 6}

In [56]:
type(set_var)

set

In [57]:
set_var.add(10,'renuka')

TypeError: add() takes exactly one argument (2 given)

In [58]:
set_var.add('renuka')

In [59]:
set_var

{1, 2, 3, 4, 5, 6, 'renuka'}

In [60]:
set1={'a','b','c'}
set2={'a','b','c','d'}

In [61]:
set1.difference(set2)

set()

In [62]:
set2.difference(set1)

{'d'}

In [63]:
set1

{'a', 'b', 'c'}

In [64]:
set2

{'a', 'b', 'c', 'd'}

In [65]:
# in the above difference once that is done set is not updated 
# inorder to update set after difference operation is done we need to use the below
set2.difference_update(set1)

In [67]:
set1

{'a', 'b', 'c'}

In [68]:
set2

{'d'}

In [69]:
set2.add('e')

In [70]:
set2

{'d', 'e'}

In [6]:
set1={1,3,4,2}
set2={1,2,3,4,5,6,7}

In [3]:
set1_copy=set1.copy()

In [4]:
set1_copy

{1, 2, 3, 4}

In [7]:
set1.discard(89) # we need to give VALUE so that value will be removed 
# do nothing if value is not there
set1

{1, 2, 3, 4}

In [11]:
set1_copy

{1, 2, 3, 4}

In [81]:
set1.intersection(set2)

{2, 3, 4}

In [85]:
set2.intersection_update(set1) # here the poistion of set1 and set2 is very important based on that output will vary

In [86]:
set1

{2, 3, 4}

In [87]:
set2

{2, 3, 4}

In [89]:
set1.isdisjoint(set2) # common values are there in 2 sets so we get false

False

In [90]:
set1.issubset(set2)

True

In [91]:
set1.issuperset(set2)

True

In [92]:
set1.pop() # removes 1st value in SET

2

In [98]:
set1

{4}

In [8]:
set1.remove(43) # we should give value as parameter in remove() function
#give error if value is not there
#this is the only difference between DISCARD and REMOVE

KeyError: 43

In [100]:
set1

set()

In [101]:
set1_copy

{1, 2, 3, 4}

In [102]:
set1.update({1,2,3,4,5,6})

In [103]:
set1

{1, 2, 3, 4, 5, 6}

In [104]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [105]:
set1

{1, 2, 3, 4, 5, 6}

In [106]:
set2

{2, 3, 4}

In [107]:
set1.symmetric_difference(set2)

{1, 5, 6}

In [108]:
set2.symmetric_difference(set1)

{1, 5, 6}

In [109]:
set1.symmetric_difference_update(set2)

In [110]:
set1

{1, 5, 6}

In [111]:
set2

{2, 3, 4}

# Dictionaries
A dictionaries is a collection which is unordered, changable and indexed
the main difference bettween SET and DICT is SET consist of only values where as DICT consist of both keys and values

In [112]:
type({})

dict

In [2]:
type(set())

set

In [113]:
dic={1,2,3,4}

In [114]:
type(dic)

set

In [9]:
## Now lets create a Dictionary

dic={1:"Manu",2:"Renu",3:"Koppu",4:"Koppu"}   #here 1,2,3 are keys for the corresponding values
dic

{1: 'Manu', 2: 'Renu', 3: 'Koppu', 4: 'Koppu'}

In [116]:
type(dic)

dict

In [117]:
dic.values()

dict_values(['Manu', 'Renu', 'Koopu'])

In [118]:
dic.keys()

dict_keys([1, 2, 3])

In [119]:
dic.items()

dict_items([(1, 'Manu'), (2, 'Renu'), (3, 'Koopu')])

In [10]:
dic.get(1)

'Manu'

In [127]:
# we can even loop through out dict keys

for x in dic: # by default we will get keys
    print(x)

1
2
3
4

In [130]:
for x in dic.values():
    print(x)

Manu
Renu
Koppu
Koppu

In [131]:
for x in dic.items():
    print(x)

(1, 'Manu')
(2, 'Renu')
(3, 'Koppu')
(4, 'Koppu')

In [132]:
# update dict
dic[5]='renuka'

In [133]:
dic

{1: 'Manu', 2: 'Renu', 3: 'Koppu', 4: 'Koppu', 5: 'renuka'}

In [134]:
dic[1]='Manikanta' #overwritten to the actual value

In [135]:
dic

{1: 'Manikanta', 2: 'Renu', 3: 'Koppu', 4: 'Koppu', 5: 'renuka'}

# Nested Dictionaries

In [136]:
dic={"car1":"Maruthi","car2":"BMW","car3":"Mercedes"}

In [143]:
car1_model={"Maruthi":1995}
car2_model={"BMW":1996}
car3_model={"Mercedes":1997}

car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [144]:
car_type   #Nested dic

{'car1': {'Maruthi': 1995}, 'car2': {'BMW': 1996}, 'car3': {'Mercedes': 1997}}

In [146]:
## Accesing the items in dic
car_type['car1']

{'Maruthi': 1995}

In [149]:
car_type['car1']['Maruthi']

1995

# Tuple

Once we define tuple that can't be changed

In [3]:
my_tuple=()
my_tuple

()

In [5]:
type(my_tuple)

tuple

In [152]:
my_tuple=('Koppu','Renu','Manu')

In [153]:
my_tuple[0]

'Koppu'

In [154]:
my_tuple[1]='Renuka' # we can't replace items in tuple

TypeError: 'tuple' object does not support item assignment

In [159]:
my_tuple=('koppu','ManuRenu','koppu') #instead we can change entire tuple

In [160]:
my_tuple

('koppu', 'ManuRenu', 'koppu')

In [161]:
#only 2 in-built functions are there in tuple
my_tuple.count('koppu')

2

In [162]:
my_tuple.index('koppu') # gives the index of 1st occurance of value

0